{% extends "base.html" %}
{% load static %}
{% load django_template_maths %}
{% block content %}

    <div class="shadow container-fluid  p-3 px-4 text-white" style="background-color: #051934;">
        <h2>Challenge List</h2>
    </div>
    
    {% if messages %}
        {% for message in messages %}
            <br/>
            <div class="container-fluid px-3">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
             </div>
            
        {% endfor %}
    {% endif %}
    <div class="card m-3 p-3">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Challenge name</th>
                <th>Category</th>
                <th>Difficulty</th>
              </tr>
            </thead>
            <tbody>
                {% for challenge in challenges %}
                    {% if challenge.published %}
                         <tr>
                            <td><a href="{% url 'challenge_detail' challenge_slug=challenge.slug %}" class="list-group-item level-link">{{ challenge.name }}</a></td>
                            <!-- <td>{{ challenge.name }}</td> -->
                            <td>{{ challenge.category }}</td>
                            <td>
                                <figure class="notation-s my-1">
                                    <span role="img" aria-labelledby="rating-6636663adb9b6" style="width: {{ challenge.difficulty|mul:20 }}%"></span>
                                </figure>
                            </td>
                        </tr>
                     {% endif %}
                {% endfor %}
            </tbody>
          </table>
        
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {

            // Function to compare files
            function compareFiles(challengeName, definedFileName, uploadedFile, resultSpan) {
                var formData = new FormData();
                formData.append('challenge_name', challengeName);
                formData.append('defined_file_name', definedFileName);
                formData.append('uploaded_file', uploadedFile);

                // Get CSRF token from the cookie
                var csrftoken = getCookie('csrftoken');

                $.ajax({
                    url: '',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        $(resultSpan).text(data.result);
                    }
                });
            }

            // Function to get CSRF token from cookies
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            // Click event handler for compare buttons
            $('.compareBtn').on('click', function () {
                var challengeName = $(this).data('challenge-name');
                var definedFileName = $(this).data('defined-file-name');
                var uploadedFile = $(this).prev('.fileInput')[0].files[0];
                var resultSpan = $(this).next('.result');
                compareFiles(challengeName, definedFileName, uploadedFile, resultSpan);
            });
        });
    </script>
{% endblock content %}
